.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    height: 10vh;
    width: 100%;
    z-index: 9999;
    opacity: .9;
}

.logo{
    width: 210px;
}

.nav ul{
    display: flex;
    justify-content: space-between;
    align-self: center;
}

ul{
    list-style: none;
}

li{
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    margin-right: 20px;
    transition: 0.2s all;
}
li a{    
    text-decoration: none;
    display: block;
    color: #535457
}
li a:hover{
    color:#FF9D0B;
    letter-spacing: .5px;
}

li a.active {
    padding: 5px;
    border-bottom: 3px solid #FF9D0B;
}

.signIn{
    margin-right: 20px;
}
.linkBtn{
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    background-color: transparent;
    border: none;
    color: #535457;
    text-decoration: none;
    /* margin-right: 20px; */
}

.signUp{
    padding: 12px 20px;
    width: 109px;
    height: 50px;
    background: #FF9D0B;
    border-radius: 18px;
    color: white;
}
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    width: 100%;
    z-index: 9999;
    opacity: .9;
}
.footer p{
    font-size: 14px;
    color: grey;
}
.aux-navBtn{
    display: none;
}

@media screen and (max-width: 768px) {
    .header{
        height: 8vh;
        width: 768px;
        padding: 0 3%;
    }
    
    .logo{
        width: 100px;
    }
    .logo img{
        width: 80px;
    }
    
    .nav ul{
        display: flex;
        justify-content: space-between;
        align-self: center;
    }
    
    li{
        font-size: 12px;
        line-height: 21px;
        margin-right: 10px;
    }
    
    .signIn{
        margin-right: 10px;
    }
    .linkBtn{
        font-size: 12px;
        line-height: 21px;
    }
    
    .signUp{
        padding: 8px 10px;
        border-radius: 14px;
    }
}

@media screen and (max-width:465px) {
    .header{
        width: 100%;
        /* max-width: 465px; */
        height: 3rem;
        opacity: .98;
    }
    .toggle{
        display: block;
      }

      .toggle button{
        padding: 10px 20px;
        background-color: transparent;
        border: none;
      }
      .navBtn{
        display: none;
      }

      .nav .flex{
        display: none;
      }
      .nav .small{
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 3rem;
        right: 0;
        width: 80%;
        z-index: 100;
        opacity: 1;
      }
      .small li a{
        font-size: 16px;
        text-align: center;
        padding: 10px 0;
        background-color: #FF9D0B;
      }
      .aux-navBtn{
        display: block;
      }
      .aux-navBtn .linkBtn{
        background-color: #535457;
        color: #FEF9F6;
        border-top: 1px solid #FEF9F6;
      }
      

}